<div class="container">
  <% if @expenses.first %>
    <%= content_tag :div, class: "data_information", data: {datas:  data1(@expenses)} do %><% end %>
    <%= content_tag :div, class: "data_information2", data: {datas:  data2(@expenses)} do %><% end %>
    <%= content_tag :div, class: "data_information3", data: {datas:  data3(@expenses)} do %><% end %>
    <%= content_tag :div, class: "data_information4", data: {datas:  data4(@expenses)} do %><% end %>
 <% end %>


    <div class="row">
    <div class="total-box col-md-3">
      <% if @expenses.first %>
        $ <%= dayExpense(@expenses,"hoy") %>
      <span>HOY</span>
    <% end %>
    </div>
    <div class="total-box col-md-3">
      <% if @expenses.first %>
        $<%= dayExpense(@expenses,"ayer") %>
      <% end %>
      <span>AYER</span>
    </div>
    <div class="total-box col-md-3">
      <% if @expenses.first %>
        $<%= dayExpense(@expenses,"mes_actual") %>
      <% end %>
      <span>ESTE MES</span>
    </div>
    <div class="total-box col-md-3">
      <% if @expenses.first %>
        $<%= dayExpense(@expenses,"anterior") %>
      <% end %>
      <span>MES PASADO</span>
    </div>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Last 3 months</div>
        <div class="panel-body">
          <div id="chartContainer" style="height: 250px;"></div>
        </div>
      </div>
    </div>
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By day</div>
        <div class="panel-body">
          <div id="chartContainer2" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By Category</div>
        <div class="panel-body">
          <div id="divchart" style="height: 250px;"></div>
        </div>
      </div>
    </div>
    <div class=" box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Acumulated</div>
        <div class="panel-body">
          <div id="month-acc" style="height: 250px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
