<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <h1>Bienvenido a  xxxxxxxx </h1>
      <h4>Con esta app podras hacer seguimiento y control de todos tus gastos 
      con reporte de graficos historicos, tendencias y alertas de consumo.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <%= image_tag("index1.jpeg", size: "850x350") %>
   <!--    <%= image_tag("index2.jpeg") %>
      <%= image_tag("img3.jpeg") %> -->
    </div>

    <div class="col-md-3"> 
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
     </div> 
  </div>
  <div class="row">
    <div class="col-md-7 col-md-offset-2">
      <h1>Animate </h1>
      <h4>Te invitamos a que te registres y disfrutes de un mes gratis de prueba.</h4>
    </div>
  </div>
</div>
