<!-- expense = @expense -->

  <tr id = "expense_rows-<%=expense.id%>">
    <td class="date">
      <div class="day"><%= expense.date.day %></div>
      <div class="month"><%= month_format(expense.date.month) %></div>
    </td>
    <td>
      <div>
        <span class="type"><%= expense.type_of_tran.name %></span>
      </div>
      <div>
        <span class="concept"><%= expense.concept %></span>
      </div>
    </td>
    <td class="category text-right"> <%= expense.category.name %></td>
    <td class="text-right" style="width: 170px;">
      <div class="amount">$ <%= expense.amount %></div>
      <div class="actions">
        <%= link_to "<span class='glyphicon glyphicon-edit'>Edit</span>".html_safe, edit_expense_path(expense.id), remote: true%>
        <a href="#"></a>
        <%= link_to "<span class='glyphicon glyphicon-trash'>Delete</span>".html_safe, expense, method: :delete,remote: true,data:{confirm: "Are you sure?"}%>
    </td>
 </tr>


