<!-- expense = @expense -->

  <tr>
    <td class="date">
      <div class="day"><%= expense.date.day %></div>
      <div class="month"><%= month_format(expense.date.month) %></div>
    </td>
    <td>
      <div>
        <span class="type"><%= expense.type_of_trans %></span>
      </div>
      <div>
        <span class="concept"><%= expense.concept %></span>
      </div>
    </td>
    <td class="category text-right"> <%= expense.category %></td>
    <td class="text-right" style="width: 170px;">
      <div class="amount">$ <%= expense.amount %></div>
      <div class="actions">
        <a href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        <%= link_to "Delete", expense_path(expense.id), method: :delete, remote: true%>
        <a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a>
    </td>
 </tr>
