<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <% if @expense.date %> 
          <h5 class="modal-title" id="exampleModalLabel">Edit your expense:</h5>
        <%else%>
          <h5 class="modal-title" id="exampleModalLabel">Create a new expense:</h5>
        <% end%>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @expense %> 
          <%= form_for @expense, remote: true do |f| %>

            <div class="row">
              <div class="col-sm-6">
              <%=label_tag(:type_of_tran, "type of transaccion")%>
              <%= f.collection_select :type_of_tran_id, TypeOfTran.all,:id,:name, {}, class: "form-control"%>
              </div>

              <div class="col-sm-6">
                <%=label_tag(:date, "Date")%>
                <br>
                <%=f.date_select :date, class:"date_field form-control"%>
            </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
              <%=label_tag(:concept, "Concept")%>
              <%=f.text_field :concept, class:"concept_field form-control form-control-lg"%>
            </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
            <%=label_tag(:category, "Category")%>
            
            <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: "form-control" %>
            </div>
            <div class="col-sm-6">
            <%=label_tag(:amount, "Amount")%>
            <%=f.number_field :amount, step: :any, class:"amount_field form-control"%>
            </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <% if @expense.date %>
              <%=f.submit "Edit Expense", class:"btn_submit btn btn-primary"%>
            <%else%>
              <%=f.submit "Create Expense", class:"btn_submit btn btn-primary"%>
            <%end%>
            <!-- <button type="button" class="btn btn-primary">Create Expense</button> -->
          </div>
          <%end%>
      <% end %>  
        </div>
    </div>
  </div>
</div>
