<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <a href="#" class="list-group-item">Purchase</a>
        <a href="#" class="list-group-item">Withdrawal</a>
        <!-- more transaction types -->
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <a href="#" class="list-group-item">Restaurants</a>
        <a href="#" class="list-group-item">Car</a>
        <!-- more categories  -->
      </div>
    </div>
    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">$ <%= "summ(@expenses)" %></div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value"><%= @expenses.count %></div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">$ <%= "average(summ(@expenses),@expenses)" %> </div>
          <div class="summary-label">Average</div>
        </div>
      </div>


      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <button type="button" class="btn btn-success pull-left" data-toggle="modal" data-target="#exampleModal">
              <span class="glyphicon glyphicon-plus"></span>New Expense
            </button>
              <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <%= form_for @expense do |f| %>

                        <div class="row">
                          <div class="col-sm-6">
                          <%=label_tag(:type_of_trans, "type of transaccion")%>
                          <%=f.text_field :type_of_trans, class:"form-control"%>
                          </div>

                          <div class="col-sm-6">
                            <%=label_tag(:date, "Date")%>
                            <br>
                            <%=f.date_select :date, class:"form-control"%>
                        </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                          <%=label_tag(:concept, "Concept")%>
                          <%=f.text_field :concept, class:"form-control form-control-lg"%>
                        </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                        <%=label_tag(:category, "Category")%>
                        <%=f.text_field :category, class:"form-control"%>
                        </div>
                        <div class="col-sm-6">
                        <%=label_tag(:amount, "Amount")%>
                        <%=f.number_field :amount, class:"form-control"%>
                        </div>
                        </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <%=f.submit "Create Expense", class:"btn btn-primary"%>
                        <!-- <button type="button" class="btn btn-primary">Create Expense</button> -->
                      </div>
                      <%end%>
                    </div>
                </div>
              </div>
            </div>



          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">April 2016 <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a href="#">April 2016</a></li>
              <li role="presentation"><a href="#">March 2016</a></li>
              <!-- more months -->
            </ul>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
            <tr>
              <td class="date">
                <div class="day"><%= expense.date.day %></div>
                <div class="month"><%= month_format(expense.date.month) %></div>
              </td>
              <td>
                <div>
                  <span class="type"><%= expense.type_of_trans %></span>
                </div>
                <div>
                  <span class="concept"><%= expense.concept %></span>
                </div>
              </td>
              <td class="category text-right"> <%= expense.category %></td>
              <td class="text-right" style="width: 170px;">
                <div class="amount">$ <%= expense.amount %></div>
                <div class="actions">
                  <a href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                  <a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a>
              </td>
             </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
